.table {
    display: table;
}
.bulletCell {
    display: table-cell;
    padding-right: 8px;
}
.bold {
    font-weight: bold;
}
.tableCell {
    display: table-cell;
    width: auto;
}
h3 {
    margin-top: 0px;
}
pre, code {
    background-color: #eeeeee;
    border: 1px #555555 solid;
    border-radius: 4px;
    padding: 10px;
}

code {
    padding: 2px;
}

ol {
    width: auto;
}

li {
    margin-bottom: 6px;
    width: auto;
}
.docTitle {
    text-align: center;
}
.numericBullet {
    background-color: #f3f3f3;
    padding: 9px;
    border-radius: 50px;
    font-size: 75%;
    border: 1px black solid;
    font-weight: bold;
    padding: 2px 6px 2px 6px;
}
body {
    background-color:#FAF7EA;
    margin: 15px;
}
img {
    border-radius: 10px;
    padding: 10px;
    border:1px black solid;
    margin: 0 auto; 
    margin-left: 15%;
    width:70%;
}
.stepTip {
    width:70%; 
    max-width:700px; 
    text-align:center; 
    margin: 0 auto; 
    margin-top:20px; 
    background-color: #eeeeee; 
    padding: 5px; 
    border:1px black solid; 
    border-radius:50px;
}
.conceptDiagram {
    width:80%; 
    text-align:center; 
    max-width:800px; 
    margin: 0 auto; 
    margin-top:10px; 
    background-color: #cccccc; 
    padding: 10px; 
    border:1px black solid; 
    border-radius:20px;
}
